.about-text {
  color: #abafcc;
  text-shadow: 1px 1px 1px #000000;
  font: 20px Lexend;
  margin: 4px auto;
  max-width: 900px;
  width: 80%;
}

div.features {
  text-align: left;
  color: #bbbfdc;
  text-shadow: 1px 1px #000000;
  border: 1px solid;
  border-image-slice: 2;
  border-image-source: linear-gradient(135deg, #6060c0, #8070a020);
  width: 70%;
  max-width: 725px;
  overflow: auto;
  margin: auto;
  font: 17px Lexend;
}

div.features ul {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.log-title {
  text-align: center;
  font: 38px Lexend;
  line-height: 12px;
}

div.changelog {
  text-align: left;
  color: #bbbfdc;
  text-shadow: 1px 1px #000000;
  border: 1px solid;
  border-image-slice: 2;
  border-image-source: linear-gradient(135deg, #6060c0, #8070a020);
  width: 70%;
  max-width: 650px;
  height: 600px;
  margin: auto;
  overflow: auto;
  /* firefox nibbas */
  scrollbar-color: #60606090 #00000040;
}

div.changelog li {
  transform: translateX(-12px);
  font: 17px Lexend;
}

/* non-firefox nibbas */
div.changelog::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

div.changelog::-webkit-scrollbar-track {
  background: #00000040;
}

div.changelog::-webkit-scrollbar-thumb {
  background: #60606090;
}

div.changelog::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div.changelog::-webkit-scrollbar-corner {
  background: #00000080;
}
