body {
  background-color: black;
  text-align: center;
}

.video {
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.top-bar {
  width: 100%;
  position: fixed;
  background-image: linear-gradient(180deg, #6060c050, #6060c050 78%, #6060c000 78%, #6060c000);
  top: 0;
  left: 0;
  font: 30px Lexend;
  padding-top: 7px;
  padding-bottom: 22px;
}

.top-bar a {
  color: #abafcc;
  text-decoration: none;
  padding: 13px;
  transition-duration: 0.25s;
}

.top-bar a:hover {
  color: #7b9fcc;
}

.title {
  font: 110px Spartan;
  letter-spacing: -8px;
  text-shadow: 4px 4px 2px #000000;
  margin-bottom: 112px;
}

.text {
  font: 40px Lexend;
  color: #abafcc;
  text-shadow: 2px 2px 1px #000000;
}

.button {
  color: white;
  background-image: linear-gradient(45deg, #6060c0, #8070a0);
  border: 0;
  border-radius: 2px;
  padding-right: 5px;
  box-shadow: 2px 2px 4px #8070a0;
  font: 40px Lexend;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.25s;
}

.button:hover {
  border-radius: 4px;
  box-shadow: 4px 4px 6px #8070a0;
  color: #cdf8ff;
}

.copyright {
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
  background-color: #111;
}

.fa-fw {
  padding: 0;
  margin: 0 auto;
}
